body{
    overflow-x:  hidden;
}
header{
    background-image: url(buenos-aires.jpg); 
    background-attachment: fixed;
    background-size: cover;
    height: 90vh;
  
  
   

}
nav{
    
}
.title{
    position: absolute;
   
    
    
    
    bottom: 5%;
    text-shadow: black 1px 2px 8px;
    text-align: center;
    justify-content: center;

    
}
header{
   
    
}


#row-footer{
    margin: 0;
    width: 99vw;
   
    
    
    
}
#row-perfil img{
    border-radius: 40px  10px;
}
#row-contacto{
    height: 50vh;
}
#low-elegirnos{
    width: 99vw;
}
footer{
    margin-top: 15%;
    /* 
   
    width: 100%; 
    bottom: 1px; */
    
    
}
#imagen{
    max-height:70%;
}
